@font-face {
    font-family: electronicFont;
    src: url(./assets/DS-DIGIT.TTF);
}

body {
	margin: 0;
	padding: 0;
}
html{
    font-size: 16px;
}
html::-webkit-scrollbar {
    display: none;
}
h1 {
	color: #333;
	margin: 0;
	padding: 0;
}
h2 {
    margin: 0;
}
header{
    background: url(./assets/head_bg.png) no-repeat center center;
    height: 70px;
    text-align: center;
    line-height: 70px;
    letter-spacing: 2px;
}
header .refresh{
    color: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 13px;
    top: 16px;
    height: 20px;
    font-size: 14px;
}
select {
    border: 1px solid #ddd;
    outline: none;
    background-color: transparent;
    color: #bbb;
}
main{
    display: flex;
    padding: 10px;
    column-gap: 10px;
}
main .l, main .r{
    width: 25%
}
main .m{
    width: 50%
}
#app {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
    box-sizing: border-box;
    background: url(./assets/bg.jpg) center center;
    background-size: cover;
}
.scroller{
    max-height: 50vh;
    overflow-y: auto;
}
table{
    font-size: 14px;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.table-head th{
    padding: 10px;
    background-color: #f5f5f5;
}
table td {
    padding: 4px;
}
.table-head th:nth-child(1){
    width: 50px
}
.table-head th:nth-child(2){
    width: 400px
}
.table-head th:nth-child(3){
    width: 100px
}
.table-head th:nth-child(4){
    width: 180px
}
.table-head th:nth-child(5){
    width: 100px
}
.boxes {
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
}

.box{
    background: url(./assets/line.png) rgba(255, 255, 255, 0.03);
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(25, 186, 139, 0.17);
}

.box::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-left: 2px solid #02a6b5;
    border-top: 2px solid #02a6b5;
    content: '';
}

.box::after{
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-right: 2px solid #02a6b5;
    border-top: 2px solid #02a6b5;
    content: '';
}

.box h4{
    color: #ddd;
    margin: 0;
}

#chart_1,
#chart_2,
#chart_3,
#chart_4,
#chart_5,
#chart_6 {
	width: 100%;
	height: 13vw;
    min-height: 150px;
}

.count{
    padding: 10px;
    background-color: rgba(101, 132, 226, 0.1);
    color: white;
    text-align: center;
}

.count .label {
    display: flex;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.7);
}

.count .label > div {
    flex: 1;
    font-size: 12px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#count{
    height: 52px;
    position: relative;
    border: 1px solid rgba(25, 186, 139, 0.17);
    display: flex;
    font-family: electronicFont;
    color: #ffeb7b;
}

#count > div {
    flex: 1;
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#count > div:nth-child(1):after,
#count > div:nth-child(2):after {
    content: '';
    position: absolute;
    top: 25%;
    right: 0;
    height: 50%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}

#count::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.375rem;
    height: 0.125rem;
    border-top: 2px solid #02a6b5;
    border-left: 2px solid #02a6b5;
    content: '';
}

#count::after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0.375rem;
    height: 0.125rem;
    border-bottom: 2px solid #02a6b5;
    border-right: 2px solid #02a6b5;
    content: '';
}

#map {
    width: 42vw;
    height: 42vw;
    max-height: calc(100vh - 200px);
    min-height: 200px;
    margin: auto;
}

.map{
    position: relative;
    margin-top: 20px;
}

.map .map1{
    width: 30vw;
    height: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(./assets/map.png);
    background-size: 100% 100%;
    opacity: 0.3;
}

.map .map2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35vw;
    height: 35vw;
    background: url(./assets/lbx.png);
    background-size: 100% 100%;
    animation: rotate1 15s linear infinite;
    opacity: 0.6;
}

.map .map3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32.5vw;
    height: 32.5vw;
    background: url(./assets/jt.png);
    background-size: 100% 100%;
    animation: rotate2 15s linear infinite;
}

@keyframes rotate1 {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  @keyframes rotate2 {
    from {
      transform: translate(-50%, -50%) rotate(360deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }

  .flex{
    display: flex;
  }

  .between{
    justify-content: space-between;
  }

  .align-center{
    align-items: center;
  }

  .white{
    color: #fff;
  }

  .pointer {
    cursor: pointer;
  }

  .no-select{
    user-select: none;
  }

  .no-margin {
    margin: 0;
    color: #313695;
  }